:root {
  --primary-color: #c5a7c5;
  --secondary-color: #ad82ad;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  font-family: "Delius Unicase", cursive;
  margin-top: 50px;
  background: var(--primary-color);
  margin-bottom: 50px;
}
h3 {
  font-size: 26px;
  text-align: center;
  margin-bottom: 20px;
}
footer {
  margin-top: 100px;
}

.initials {
  font-size: 30px;
  padding-right: 30px;
}
.hero-title {
  font-size: 28px;
  margin-bottom: 20px;
}
.card-body {
  text-align: center;
}
.buttons {
  margin: 5px 10px 5px 10px;
  border-radius: 4px;
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.link-buttons {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: white;
  margin-bottom: 20px;
}
.content-row {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.social {
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  color: black;
}
.social:hover {
  color: white;
}
.about-area,
.cert-page {
  margin-top: 100px;
}
.cert-page {
  margin-right: 100px;
  margin-left: 100px;
  text-align: center;
}
.aboutme-text {
  padding: 20px;
}
.aboutme-image,
.cert-images {
  max-width: 300px;
}
@media (max-width: 960px) {
  .content-row {
    text-align: center;
  }
  .hero-row {
    width: 500px;
    background: var(--primary-color);
  }
}
@media (min-width: 500px) {
  .content-images {
    width: 500px;
  }
  .content-paragraphs {
    width: 500px;
    margin-bottom: 40px;
  }
}
